@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* @layer base {
  body {
    @apply bg-slate-900;
  }
} */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

