@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* @layer base {
  body {
    @apply bg-slate-900;
  }
} */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
}

.typing-effect-2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.typing-effect-3 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

